/*
 * Custom CSS for etolstoy.com
 */

/*
 * General
 */

.deprecated, .deprecated a {
  color: #BEA586;
  font-size: 0.7rem;
}

/*
 * Sidebar
 */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "PT Sans", serif;
  font-size: 2.6rem;
}

.image-circle {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 48em) {
  .image-circle {
	margin-left: 0;
  }
}

.lead {
  font-size: 1rem;
}

/*
 * Speaking
 */

.talks ul {
  padding: 0;
}

.talks li {
  width: 100%;
  display: inline-block;
  padding-bottom: 0.8rem;
}

.talk-slides {
  position: relative;
  float: left;
  padding: 0;
  padding-right: 1rem;
  height: 100%;
  width: 45%;
}

.talk-slides img {
  width: 100%;
  border-radius: 0;
  cursor: zoom-in;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(199,199,199,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(199,199,199,1);
  box-shadow: 2px 2px 5px 0px rgba(199,199,199,1);
  transition: opacity 0.08s ease-in-out;
}

.talk-slides img:hover {
  opacity: 0.3; 
}

.talk-info {
  margin: 0;
  position: relative;
  float: right;
  width: 55%;
  height: 100%;
}

.talk-info p, .talk-info h4 {
  margin: 0;
  padding-bottom: 0.2rem;
}

 /* 
  * Theme 
  */

.theme-etolstoy .sidebar {
  background-color: #674941;
}
.theme-etolstoy .content a,
.theme-etolstoy .related-posts li a:hover {
  color: #8E5B3E;
}