<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Egor Tolstoy. When I'm not travelling I either work on <a href="kotlinlang.org">Kotlin</a> as a product manager or contribute to engineering community. My social networks:</p>
    <ul>
      <li><a href="https://twitter.com/igrekde" target="_blank">Twitter</a></li>
      <li><a href="https://medium.com/@etolstoy" target="_blank">Medium</a></li>
      <li><a href="https://facebook.com/etolstoy" target="_blank">Facebook</a></li>
      <li><a href="https://github.com/etolstoy" target="_blank">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/etolstoy" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</section>
