<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-etolstoy">

    {% include sidebar.html %}

    <div class="content container">
	    {% for post in site.posts %}
	    	<div class="post">
	    		<h1 class="post-title">
	    			<a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
	    		</h1>
	    		<span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
	    		{% if post.excerpt %}
	    			{{ post.excerpt }}
				{% endif %}
	    	</div>
	    {% endfor %}  
    </div>
  </body>
</html>
